<div class="display-row" style="display: none;"></div>
<div class="display-row jaccount-type">
  <div class="field">{{i18n "user.jaccount_type.title"}}</div>
  <div class="value">{{@outletArgs.model.jaccount_type}}</div>
</div>
